<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">

    <header>
        <%- include('../partials/header'); %>
    </header>
    <main>
        <div class="jumbotron">
            
            <%locals.results.forEach(function(user) { %>
                <li>
                    ID: <%= user.user_id;%>  first name: <%= user.firstname;%> last name: <%= user.lastname;%>
                    
                </li>
            <% }); %>
        </div>
    </main>
    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>
</html>
