<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">

    <header>
        <%- include('../partials/header'); %>
    </header>
    <main>
        <div class="jumbotron">
             
            <form action="/processdynamicform" method="post" class="jumbotron">
                <% results.forEach(function(user) { %>
                    <div>
                        <div>ID: <%= user.user_id;%>  first name: <%= user.firstname;%> last name: <%= user.lastname;%></div>
                        <input type="checkbox"  name=<%= user.user_id;%>  
                    </div>
                <% }); %>
                <input type="submit">
            </form>
        </div>
    </main>
    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>
</html>